---
import { SignupForm } from "./SignupForm"
---
<section class="p-6 ">
	<div class="container grid gap-6 mx-auto text-center items-center min-h-full lg:grid-cols-2 xl:grid-cols-5">
		<SignupForm/>
		<img src="https://www.datocms-assets.com/17507/1614782542-scrum-process-schema-en-small.png" alt="" class="object-cover w-full rounded-md xl:col-span-3 ">
	</div>
</section>